<mat-toolbar color="primary">
  <span routerLink="/">AcmeBank</span>
  <span class="example-spacer"></span>
  <button class="mx-1" mat-raised-button routerLink="/cliente">Clientes</button>
  <button class="mx-1" mat-raised-button routerLink="/conta">Contas</button>
  <button class="mx-1" mat-raised-button routerLink="/conta/saque">Saque</button>
  <button class="mx-1" mat-raised-button routerLink="/conta/deposito">Deposito</button>
  <button class="mx-1" mat-raised-button routerLink="/conta/transferencia">Transferência</button>
</mat-toolbar>
